apiVersion: v1
kind: Secret
metadata:
  name: postgresql-credentials
  namespace: incident-platform
type: Opaque
stringData:
  POSTGRES_USER: "incident_user"
  POSTGRES_PASSWORD: "CHANGE_ME"
  POSTGRES_DB: "incident_platform"
  DATABASE_URL: "postgresql+psycopg://incident_user:CHANGE_ME@postgresql:5432/incident_platform"
